<div class="card">
    <div class="pokemon-id">#{{ pokemon.codigo }}</div>

    <div class="tags">
        <span *ngFor="let t of pokemon.tipos" class="tag" [style.background]="t.cor">
            {{ t.descricao }} <!-- corrigido de t.nome para t.descricao -->
        </span>
    </div>

    <div class="image-background">
        <img [src]="pokemon.imagem_url" alt="{{ pokemon.nome }}" class="pokemon-img"> <!-- imagem_url -->
    </div>

    <h3 class="pokemon-name">{{ pokemon.nome | titlecase }}</h3>
    <p class="pokemon-geracao">{{ getNomeGeracao(pokemon.geracao) }}</p>

    <div class="actions">
        <button class="btn-view" (click)="verMais()">Ver mais</button>

        <!-- Botão Favorito -->
        <button class="btn-icon" [class.active]="favoritoAtivo" (click)="adicionarFavorito()"
            matTooltip="{{ favoritoAtivo ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}">
            <mat-icon>{{ favoritoAtivo ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <!-- Botão Equipe -->
        <button mat-raised-button color="{{ equipeAtiva ? 'warn' : 'primary' }}"
            matTooltip="{{ equipeAtiva ? 'Remover da equipe' : 'Adicionar à equipe' }}" (click)="adicionarEquipe()">
            <mat-icon>{{ equipeAtiva ? 'remove_circle' : 'add_circle' }}</mat-icon>
            {{ equipeAtiva ? 'Remover' : 'Adicionar' }}
        </button>
    </div>
</div>