<div class="card">
    <div class="pokemon-id">#{{ pokemon.codigo }}</div>

    <div class="tags">
        <span *ngFor="let t of pokemon.tipos" class="tag" [style.background]="t.cor">
            {{ t.descricao }} <!-- corrigido de t.nome para t.descricao -->
        </span>
    </div>

    <div class="image-background">
        <img [src]="pokemon.imagem_url" alt="{{ pokemon.nome }}" class="pokemon-img"> <!-- imagem_url -->
    </div>

    <h3 class="pokemon-name">{{ pokemon.nome | titlecase }}</h3>
    <p class="pokemon-geracao">Geração: {{ pokemon.geracao }}</p>

    <div class="stats" *ngIf="pokemon.status?.length">
        <div *ngFor="let s of pokemon.status" class="stat">
            <div class="stat-header">
                <span class="stat-label">{{ s.nome | titlecase }}</span> <!-- lado esquerdo -->
                <span class="stat-value">{{ s.valor }}</span> <!-- lado direito -->
            </div>
            <div class="progress-bar">
                <div class="progress" [style.width.%]="s.valor"></div>
            </div>
        </div>
    </div>



    <div class="actions">
        <button (click)="onAddFavorito()" [class.active]="pokemon.favorito">
            {{ pokemon.favorito ? '★ Favorito' : '☆ Favorito' }}
        </button>
        <button (click)="onAddEquipe()" [class.active]="pokemon.equipe">
            {{ pokemon.equipe ? 'Equipe' : 'Adicionar à Equipe' }}
        </button>
    </div>
</div>