<app-header></app-header>

<app-filter [tipos]="tipos" (filterChange)="filtroTipo = $event; filtrarPokemons()"
    (generationChange)="filtroGeracao = $event; filtrarPokemons()"
    (nameChange)="filtroNome = $event; filtrarPokemons()">
</app-filter>

<p class="loading" *ngIf="loading">Carregando Pokémons...</p>

<app-pokemon-list *ngIf="!loading && pokemonsFiltrados.length > 0" [pokemons]="pokemonsFiltrados"
    [addFavorito]="addFavorito.bind(this)" [addEquipe]="addEquipe.bind(this)">
</app-pokemon-list>

<p class="loading" *ngIf="!loading && pokemonsFiltrados.length === 0">Nenhum Pokémon encontrado.</p>