.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // cada card mínimo 200px, se encaixa responsivo
    gap: 1rem; // espaço entre os cards
    padding: 1rem;
}