:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b); // tons escuros da home/pokedex
    font-family: 'Poppins', sans-serif;
}

mat-card {
    width: 400px;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(56, 189, 248, 0.3);
    background-color: #1e293b; // fundo escuro
    text-align: center;
    border: 2px solid #38bdf8; // ciano destaque

    h2 {
        margin-bottom: 2rem;
        color: #38bdf8; // azul ciano glow
        font-size: 1.8rem;
        font-weight: 700;
        text-shadow: 0 0 8px #38bdf8;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .full {
            width: 100%;
        }

        mat-form-field {
            background-color: #0f172a;
            border-radius: 8px;

            .mat-input-element {
                color: #f8fafc;
            }

            .mat-form-field-label {
                color: #94a3b8;
            }
        }

        button {
            &.primary {
                background-color: #38bdf8; // azul ciano
                color: #0f172a;
                font-weight: 600;
                padding: 0.75rem;
                transition: 0.3s;

                &:hover {
                    background-color: #0ea5e9; // azul mais vivo no hover
                }
            }

            &.secondary {
                background-color: #f87171; // vermelho suave para destaque
                color: #0f172a;
                font-weight: 600;
                padding: 0.5rem;
                transition: 0.3s;

                &:hover {
                    background-color: #fca5a5; // vermelho mais claro
                }
            }
        }

        .error {
            color: #f87171; // vermelho suave
            font-weight: 500;
            margin-top: -0.5rem;
            font-size: 0.9rem;
        }

        p {
            margin-top: 1rem;
            font-size: 0.9rem;
            color: #cbd5e1;

            a {
                color: #38bdf8;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}